{% extends "layout.html" %}

{% block in_head %}
<script src="https://cdn.jsdelivr.net/npm/d3@^5.16.0" type="text/javascript"></script>
<script src="https://unpkg.com/d3-tip@0.9.1"></script>
<script src="{{ url_for('.static', filename='vendor/stream_table-1.1.1.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('.static', filename='upload.js') }}" type="text/javascript"></script>

<link href="{{ url_for('.static', filename='NSpinner.css') }}" rel="stylesheet" type="text/css">
<script src="{{ url_for('.static', filename='NSpinner.js') }}" type="text/javascript"></script>

<style>
    div.source, div.target {
        border: 1px solid gray;
        margin: .5rem;
        padding: .5rem;
        height: 10rem;
        background-color: #e9eef1;
    }

    div.dropzone {
    border: 3px dashed steelblue;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
    color: #444;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
}

    div.dropzone:hover {
        background-color: #f3f3f3;
        color: #333;
    }

    div.dropzone input[type=file] {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    div.dropzone-drag {
        background-color: palegreen;
    }
</style>

{% endblock %}








{% block contained %}


</br>

<div id="upload_data">
</div>


</br>
<div class="row stream_table_row" id="paste_data">
</div>




<div class="dropzone" contenteditable="false">
    从Excel中复制粘贴或者把Excel文件拖拽进来
</div>


{% endblock %}



</br>
</br>
</br>
</br>
</br>
</br>
<div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
      <span class="sr-only">45% Complete</span>
    </div>
</div>
