{% extends "layout.html" %}


{% block in_head %}
<meta charset="utf-8" />
<script src="{{ url_for('.static', filename='echarts.js') }}"></script>




{% endblock %}





{% block contained %}

<div id="main" style="width: 1200px;height:800px;"></div>

<script type="text/javascript">
    var chartDom = document.getElementById('main');
    var myChart = echarts.init(chartDom);
    var option;

    var xAxisData = [];
    var data1 = [];
    var data2 = [];
    for (var i = 0; i < 100; i++) {
        xAxisData.push('A' + i);
        data1.push((Math.sin(i / 5) * (i / 5 - 10) + i / 6) * 5);
        data2.push((Math.cos(i / 5) * (i / 5 - 10) + i / 6) * 5);
    }
    option = {
    title: {
        text: 'Bar Animation Delay'
    },
    legend: {
        data: ['bar', 'bar2']
    },
    toolbox: {
        // y: 'bottom',
        feature: {
        magicType: {
            type: ['stack']
        },
        dataView: {},
        saveAsImage: {
            pixelRatio: 2
        }
        }
    },
    tooltip: {},
    xAxis: {
        data: xAxisData,
        splitLine: {
        show: false
        }
    },
    yAxis: {},
    series: [
        {
        name: 'bar',
        type: 'bar',
        data: data1,
        emphasis: {
            focus: 'series'
        },
        animationDelay: function (idx) {
            return idx * 10;
        }
        },
        {
        name: 'bar2',
        type: 'bar',
        data: data2,
        emphasis: {
            focus: 'series'
        },
        animationDelay: function (idx) {
            return idx * 10 + 100;
        }
        }
    ],
    animationEasing: 'elasticOut',
    animationDelayUpdate: function (idx) {
        return idx * 5;
    }
    };

    option && myChart.setOption(option);
</script>


{% endblock %}